*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    /* background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center; */
    background-color: white;
}


.App{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn button{
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: white;
    font-size: 19px;
    font-weight: 400;
    cursor:pointer;
    box-shadow: 1px 2px 1px 1px rgba(0, 0 ,0 ,0.2);
   

}

button:hover{
    background-color:linear-gradient(to bottom , purple, darkblue, gold );
    color: white;
    font-weight:bold;
    box-shadow: 2px 1px 2px 3px rgba(0,0,0,0.2);
    transform:translateY(-5px);
    transition: all 0.3s all ease;
}
button:focus{
    outline:none;
}

#dis-btn:disabled{
    background-color: grey;
    cursor:not-allowed;
    box-shadow: none;
    transform: translateY(0);
    color: white;
}